= simple_form_for(@task) do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .form-inputs
    = f.input :scheduled_on
    = f.input :start_at
    = f.input :end_at
    = f.input :estimate
    = f.association :project, collection: current_user.projects.active.default_order
    = f.input :title
    = f.input :comment

  .form-actions
    = f.button :submit
