%table.table.table-responsive
  %thead
    %tr
      %th 日付
      %th 開始
      %th 終了
      %th 見積
      %th{ colspan: 2 } 実績
      %th Project
      %th{ style: 'min-width: 150px' } タスク
      %th{ style: 'min-width: 300px' } コメント
      %th
      %th
      %th

  %tbody
    - tasks.each do |task|
      %tr{ id: "js-task-#{task.id}" }
        %td= task.scheduled_on
        %td= nl(task.start_at, format: :only_time)
        %td= nl(task.end_at, format: :only_time)
        %td= task.estimate
        %td= task.end_at.present? ? task.actual.to_i : ''
        %td= task.actual&.negative? ? '' : '*' * (task.actual.to_i / 10 + 1)
        %td
          - if task.project.present?
            = link_to project_tasks_path(task.project) do
              %span.badge.text-light{ style: "background-color:#{task.project.color}" }= task.project.name
        %td= task.title
        %td= hbr(task.comment)
        %td= link_to 'Show', task
        %td= link_to 'Edit', edit_task_path(task)
        %td= link_to icon('fas', 'trash'), task, method: :delete, remote: true, data: { confirm: 'Are you sure?' }
