- estimate = @tasks.not_completed.sum(:estimate)
- completed = @tasks.completed.sum(&:actual)

.d-flex.my-3
  %table.table-sm.table-bordered
    %thead
      %tr
        %th 全て
        %th 完了
        %th 残り
    %tbody
      %tr
        %td= @tasks.count
        %td= @tasks.completed.count
        %td= @tasks.not_completed.count
      %tr
        %td
          = (estimate + completed).to_i
          分
        %td
          = completed.to_i
          分
        %td
          = estimate.to_i
          分
  .mx-4
    %table.table-sm.table-bordered
      %thead
        %tr
          %th 終了予定
      %tbody
        %tr
          %td= l(Time.current.since(estimate.minutes), format: :only_time)

#accordion.accordion{"aria-multiselectable" => "true", :role => "tablist"}
  .card
    #headingOne.card-header{:role => "tab"}
      %h5.mb-0
        %a.text-body{"aria-controls" => "collapseOne", "aria-expanded" => "true", "data-toggle" => "collapse", :href => "#collapseOne", :role => "button"}
          実行中
    #collapseOne.collapse.show{"aria-labelledby" => "headingOne", :role => "tabpanel"}
      .card-body
        %ul.list-group
          - @tasks.doing.each do |task|
            .js-task-row{ id: "js-task-#{task.id}" }
              = render 'tasks/task', task: task
  .card
    #headingTwo.card-header{:role => "tab"}
      %h5.mb-0
        %a.text-body{"aria-controls" => "collapseTwo", "aria-expanded" => "true", "data-toggle" => "collapse", :href => "#collapseTwo", :role => "button"}
          未着手
    #collapseTwo.collapse.show{"aria-labelledby" => "headingTwo", :role => "tabpanel"}
      .card-body
        %ul.list-group
          - @tasks.not_started.each do |task|
            .js-task-row{ id: "js-task-#{task.id}" }
              = render 'tasks/task', task: task
  .card
    #headingThree.card-header{:role => "tab"}
      %h5.mb-0
        %a.text-body{"aria-controls" => "collapseThree", "aria-expanded" => "true", "data-toggle" => "collapse", :href => "#collapseThree", :role => "button"}
          完了
    #collapseThree.collapse.show{"aria-labelledby" => "headingThree", :role => "tabpanel"}
      .card-body
        %ul.list-group
          - @tasks.completed.each do |task|
            .js-task-row{ id: "js-task-#{task.id}" }
              = render 'tasks/task', task: task
