%li.list-group-item.js-task-edit.my-2.d-none
  = simple_form_for(task, remote: true) do |f|
    .my-2= f.text_field :title, class: 'js-task-input form-control', placeholder: 'タスク名'
    .form-inline
      = f.text_field :start_at, value: task.start_at.present? ? l(task.start_at, format: :only_time) : nil,
            class: 'js-timepicker js-task-input form-control mr-2', placeholder: '開始'
      = f.text_field :end_at, value: task.end_at.present? ? l(task.end_at, format: :only_time) : nil,
            class: 'js-timepicker js-task-input form-control mr-2', placeholder: '終了'
      = f.number_field :estimate, class: 'js-task-input form-control mr-2', placeholder: '予測'
      = task.actual.to_i
      = f.association :project, label: false, input_html: { class: 'js-task-input' }, collection: current_user.projects.active.default_order
    .my-2= f.text_area :comment, class: 'js-task-input form-control', placeholder: 'ふりかえり'
    %div
      = f.submit data: { disable_with: false }, class: 'btn btn-secondary js-submit-task'
      = link_to icon('fas', 'trash'), task, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn'
%li.list-group-item.js-task-view.my-2
  .js-task-toggle-view
    .my-2
      = task.title
      - if task.project.present?
        - if task.project.color.present?
          %span.badge.text-light{ style: "background-color:#{task.project.color}" }= task.project&.name
        - else
          %span.badge.badge-secondary= task.project&.name
    .form-inline
      = task.start_at.present? ? l(task.start_at, format: :only_time) : nil
      - if task.end_at.present?
        〜
        = l(task.end_at, format: :only_time)
      - if task.estimate.present?
        見積:
        = task.estimate
      - if task.actual.present?
        実績:
        = task.actual.to_i
    .my-2= hbr(task.comment)
  .my-2
    - if task.start_at.blank?
      = link_to icon('fas', 'play'), start_task_path(task), method: :put, class: 'mx-2 btn btn-success', remote: true
    - elsif task.end_at.blank?
      = link_to icon('fas', 'stop'), complete_task_path(task), method: :put, class: 'mx-2 btn btn-danger', remote: true
    = link_to icon('fas', 'clone'), clone_task_path(task), method: :put, class: 'btn', remote: true
