%h1 Listing tasks

%table.table
  %thead
    %tr
      %th 日付
      %th 開始
      %th 終了
      %th 見積
      %th 実績
      %th Project
      %th タスク
      %th コメント
      %th
      %th
      %th

  %tbody
    - @tasks.each do |task|
      %tr
        %td= l(task.start_at, format: :only_date)
        %td= l(task.start_at, format: :only_time)
        %td= l(task.end_at, format: :only_time)
        %td= task.estimate
        %td= task.actual.to_i
        %td= task.project
        %td= task.title
        %td= task.comment
        %td= link_to 'Show', task
        %td= link_to 'Edit', edit_task_path(task)
        %td= link_to 'Destroy', task, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Task', new_task_path
