= search_form_for @q, url: tasks_path, class: 'form-horizontal' do |f|
  .input-group.my-3
    .input-group-prepend
      %span.input-group-text= icon('fas', 'calendar')
    = f.search_field :scheduled_on_eq, class: 'form-control js-datepicker'
    .mx-3
      = f.submit class: 'btn btn-primary'

= simple_form_for(@new_task) do |f|
  .form-row
    .col-7
      = f.input :title, label: false, placeholder: 'タスク名'
    .col
      = f.association :project, label: false
    .col
      = f.input :estimate, label: false, placeholder: '見積'
  .form-actions
    = f.button :submit, '開始', class: 'btn btn-primary'
    = f.button :submit, '登録', class: 'btn btn-secondary'

%ul.list-group
  - @tasks.each do |task|
    .js-task-row{ id: "js-task-#{task.id}" }
      = render 'task', task: task
