= search_form_for @q, url: tasks_path, class: 'form-horizontal' do |f|
  .input-group.my-3
    .input-group-prepend
      %span.input-group-text= icon('fas', 'calendar')
    = f.search_field :scheduled_on_eq, class: 'form-control'
    .mx-3
      = f.submit class: 'btn btn-primary'

= simple_form_for(@new_task) do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .form-inputs
    = f.input :title
    = f.input :estimate

  .form-actions
    = f.button :submit, class: 'btn btn-primary'

%h1 Listing tasks

%table.table
  %thead
    %tr
      %th
      %th 開始
      %th 終了
      %th 見積
      %th 実績
      %th Project
      %th タスク
      %th コメント
      %th
      %th

  %tbody
    - @tasks.each do |task|
      = simple_form_for(task, remote: true) do |f|
        %tr.js-task-row
          %td
            - if task.start_at.blank?
              = link_to icon('fas', 'play'), start_task_path(task), method: :put
            - elsif task.end_at.blank?
              = link_to icon('fas', 'stop'), complete_task_path(task), method: :put
          %td
            = f.input :start_at, as: :string, label: false,
              input_html: { value: task.start_at.present? ? l(task.start_at, format: :only_time) : nil, class: 'js-timepicker js-task-input' }
          %td
            = f.input :end_at, as: :string, label: false,
              input_html: { value: task.end_at.present? ? l(task.end_at, format: :only_time) : nil, class: 'js-timepicker js-task-input' }
          %td= f.input :estimate, label: false, input_html: { class: 'js-task-input' }
          %td= task.actual.to_i
          %td= task.project
          %td= f.input :title, label: false, input_html: { class: 'js-task-input' }
          %td= f.input :comment, label: false, input_html: { class: 'js-task-input' }
          %td= link_to icon('fas', 'edit'), edit_task_path(task)
          %td
            = link_to icon('fas', 'trash'), task, :method => :delete, :data => { :confirm => 'Are you sure?' }
            .d-none
              = f.submit data: { disable_with: false }
%br

= link_to 'New Task', new_task_path, class: 'btn btn-primary'
