= simple_form_for(@new_task, remote: true) do |f|
  .form-row
    .col-7
      = f.input :title, label: false, placeholder: 'タスク名'
    .col
      = f.association :project, label: false
    .col
      = f.input :estimate, label: false, placeholder: '見積'
  .form-actions
    = f.button :submit, '開始', class: 'btn btn-primary'
    = f.button :submit, '直前のタスクの終了時刻', class: 'btn btn-primary'
    = f.button :submit, '登録', class: 'btn btn-secondary'

- estimate = @tasks.not_completed.sum(:estimate)
残り #{estimate}分
終了予定 #{l(Time.current.since(estimate.minutes), format: :only_time)}

%ul.list-group#js-task-list
  - @tasks.each do |task|
    .js-task-row{ id: "js-task-#{task.id}" }
      = render 'task', task: task
