- content_for :title do
  DashBoard

= simple_form_for(@new_task, remote: true) do |f|
  .form-row
    .col-7
      = f.input :title, label: false, placeholder: 'タスク名'
    .col
      = f.association :project, label: false, collection: current_user.projects.active.default_order
    .col
      = f.input :estimate, label: false, placeholder: '見積'
  .form-actions
    = f.button :submit, '開始', class: 'btn btn-primary'
    = f.button :submit, '直前のタスクの終了時刻', class: 'btn btn-primary'
    = f.button :submit, '登録', class: 'btn btn-secondary'
    .btn-group
      %button.btn.btn-default.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
        %span.caret
        %span.sr-only Toggle Dropdown
      %ul.p-2.dropdown-menu
        - current_user.shortcuts.default_order.each do |shortcut|
          %li.dropdown-item= link_to shortcut.title, start_shortcut_path(shortcut), method: :put, remote: true, class: 'btn btn-secondary'
#js-task-list
  = render 'tasks', tasks: @tasks
