%table.table
  %thead
    %tr
      %th 実施予定日
      %th 開始
      %th 終了
      %th 見積
      %th Project
      %th タスク
      %th
      %th
      %th

  %tbody
    - @tasks.each do |task|
      %tr
        %td= task.scheduled_on
        %td= task.start_at.present? ? l(task.start_at, format: :only_time) : ''
        %td= task.end_at.present? ? l(task.end_at, format: :only_time) : ''
        %td= task.estimate
        %td= task.project&.name
        %td= task.title
        %td= link_to 'Show', task
        %td= link_to 'Edit', edit_task_path(task)
        %td= link_to 'Destroy', task, :method => :delete, :data => { :confirm => 'Are you sure?' }
