= form_tag weekly_reports_path, method: :get, class: 'form-horizontal' do |f|
  .input-group.my-3
    = link_to '<', weekly_reports_path(date: @date.ago(1.week).to_date), class: 'btn'
    .input-group-prepend
      %span.input-group-text= icon('fas', 'calendar')
    = text_field_tag :date, @date, class: 'form-control js-datepicker'
    .input-group-append
      = submit_tag 'go', class: 'btn btn-primary'
    = link_to '>', weekly_reports_path(date: @date.since(1.week).to_date), class: 'btn'

= render 'tasks/task_list', tasks: @tasks
= render 'projects/project_list', tasks: @tasks
