-# frozen_string_literal: true
= simple_form_for(@shortcut) do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .form-inputs
    = f.input :title
    = f.association :project, collection: current_user.projects.active.default_order
    = f.input :position

  .form-actions
    = f.button :submit
