= form_tag daily_reports_path, method: :get, class: 'form-horizontal' do |f|
  .input-group.my-3
    = link_to '<', daily_reports_path(date: @date.yesterday.to_date), class: 'btn'
    .input-group-prepend
      %span.input-group-text= icon('fas', 'calendar')
    = text_field_tag :date, @date, class: 'form-control js-datepicker'
    .input-group-append
      = submit_tag 'go', class: 'btn btn-primary'
    = link_to '>', daily_reports_path(date: @date.tomorrow.to_date), class: 'btn'

%table.table.table-responsive
  %thead
    %tr
      %th 開始
      %th 終了
      %th 見積
      %th{ colspan: 2 } 実績
      %th Project
      %th{ style: 'min-width: 150px' } タスク
      %th{ style: 'min-width: 300px' } コメント
      %th
      %th
      %th

  %tbody
    - @tasks.each do |task|
      %tr
        %td= task.start_at.present? ? l(task.start_at, format: :only_time) : ''
        %td= task.end_at.present? ? l(task.end_at, format: :only_time) : ''
        %td= task.estimate
        %td= task.end_at.present? ? task.actual.to_i : ''
        %td= '*' * (task.actual.to_i / 10 + 1)
        %td= task.project&.name
        %td= task.title
        %td= hbr(task.comment)
        %td= link_to 'Show', task
        %td= link_to 'Edit', edit_task_path(task)
        %td= link_to 'Destroy', task, :method => :delete, :data => { :confirm => 'Are you sure?' }
