- content_for :title do
  DailyReport
= form_tag daily_reports_path, method: :get, class: 'form-horizontal' do
  .input-group.my-3
    = link_to '<', daily_reports_path(date: @date.yesterday.to_date), class: 'btn'
    .input-group-prepend
      %span.input-group-text= icon('fas', 'calendar')
    = text_field_tag :date, @date, class: 'form-control js-datepicker'
    .input-group-append
      = submit_tag 'go', class: 'btn btn-primary'
    = link_to '>', daily_reports_path(date: @date.tomorrow.to_date), class: 'btn'

.row
  .col-6
    = render 'projects/project_list', tasks: @tasks
  .col-6
    #js-calendar{ data: { default_view: 'agendaDay', default_date: @date, tasks: tasks_to_calendar_json(@tasks.completed) } }
= render 'tasks/task_list', tasks: @tasks
